parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/DTO/PaymentRequest.php

		-
			message: "#^Method Arpay\\\\DTO\\\\PaymentResponse\\:\\:__construct\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/PaymentResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\PaymentResponse\\:\\:failed\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/PaymentResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\PaymentResponse\\:\\:successful\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/PaymentResponse.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/DTO/QueryRequest.php

		-
			message: "#^Method Arpay\\\\DTO\\\\QueryResponse\\:\\:__construct\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/QueryResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\QueryResponse\\:\\:failed\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/QueryResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\QueryResponse\\:\\:successful\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/QueryResponse.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/DTO/RefundRequest.php

		-
			message: "#^Method Arpay\\\\DTO\\\\RefundResponse\\:\\:__construct\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/RefundResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\RefundResponse\\:\\:failed\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/RefundResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\RefundResponse\\:\\:successful\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/RefundResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SecureInitResponse\\:\\:__construct\\(\\) has parameter \\$formData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SecureInitResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SecureInitResponse\\:\\:__construct\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SecureInitResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SecureInitResponse\\:\\:failed\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SecureInitResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SecureInitResponse\\:\\:html\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SecureInitResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SecureInitResponse\\:\\:redirect\\(\\) has parameter \\$formData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SecureInitResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SecureInitResponse\\:\\:redirect\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SecureInitResponse.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/DTO/SubscriptionRequest.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SubscriptionResponse\\:\\:__construct\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SubscriptionResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SubscriptionResponse\\:\\:failed\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SubscriptionResponse.php

		-
			message: "#^Method Arpay\\\\DTO\\\\SubscriptionResponse\\:\\:successful\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DTO/SubscriptionResponse.php

		-
			message: "#^Method Arpay\\\\Exceptions\\\\PaymentFailedException\\:\\:__construct\\(\\) has parameter \\$rawResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/PaymentFailedException.php

		-
			message: "#^Cannot access property \\$cardHolderName on Arpay\\\\DTO\\\\CreditCard\\|null\\.$#"
			count: 1
			path: src/Gateways/Ipara/IparaGateway.php

		-
			message: "#^Cannot access property \\$cardNumber on Arpay\\\\DTO\\\\CreditCard\\|null\\.$#"
			count: 1
			path: src/Gateways/Ipara/IparaGateway.php

		-
			message: "#^Cannot access property \\$cvv on Arpay\\\\DTO\\\\CreditCard\\|null\\.$#"
			count: 1
			path: src/Gateways/Ipara/IparaGateway.php

		-
			message: "#^Cannot access property \\$expireMonth on Arpay\\\\DTO\\\\CreditCard\\|null\\.$#"
			count: 1
			path: src/Gateways/Ipara/IparaGateway.php

		-
			message: "#^Cannot access property \\$expireYear on Arpay\\\\DTO\\\\CreditCard\\|null\\.$#"
			count: 1
			path: src/Gateways/Ipara/IparaGateway.php

		-
			message: "#^Method Arpay\\\\Gateways\\\\Ipara\\\\IparaGateway\\:\\:buildAuthHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Gateways/Ipara/IparaGateway.php

		-
			message: "#^Method Arpay\\\\Gateways\\\\Ipara\\\\IparaGateway\\:\\:buildPaymentBody\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Gateways/Ipara/IparaGateway.php

		-
			message: "#^Parameter \\#1 \\$htmlContent of static method Arpay\\\\DTO\\\\SecureInitResponse\\:\\:html\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Gateways/Ipara/IparaGateway.php

		-
			message: "#^Method Arpay\\\\Gateways\\\\Odeal\\\\OdealGateway\\:\\:buildHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Gateways/Odeal/OdealGateway.php

		-
			message: "#^Method Arpay\\\\Gateways\\\\Odeal\\\\OdealGateway\\:\\:generateSignature\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Gateways/Odeal/OdealGateway.php

		-
			message: "#^Parameter \\#1 \\$htmlContent of static method Arpay\\\\DTO\\\\SecureInitResponse\\:\\:html\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Gateways/Odeal/OdealGateway.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 2
			path: src/Gateways/Papara/PaparaGateway.php

		-
			message: "#^Method Arpay\\\\Gateways\\\\Papara\\\\PaparaGateway\\:\\:buildHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Gateways/Papara/PaparaGateway.php

		-
			message: "#^Method Arpay\\\\Gateways\\\\PayNet\\\\PaynetGateway\\:\\:buildHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Gateways/PayNet/PaynetGateway.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 2
			path: src/Gateways/PayU/PayUGateway.php

		-
			message: "#^Method Arpay\\\\Gateways\\\\PayU\\\\PayUGateway\\:\\:buildHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Gateways/PayU/PayUGateway.php

		-
			message: "#^Offset 'ORDER_REF' on array\\<string, mixed\\> on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Gateways/PayU/PayUGateway.php
